{% extends 'layout.html' %}
{% load static %}



{% block body %}



<div class="w3-row w-pale-green w3-padding-64">
    <div id="TotalIndex" style="width:100%; height:400px;"></div>
</div>
<div class="w3-row">
    <div class="w3-third w3-padding-64">
        <div id="HamvaznIndex" style="width:100%; height:300px;"></div>
    </div>
    <div class="w3-third w3-padding-64">
        <div id="FiftyIndex" style="width:100%; height:300px;"></div>
    </div>
    <div class="w3-third w3-padding-64">
        <div id="FaraIndex" style="width:100%; height:300px;"></div>
    </div>
</div>
<div class="w3-row">
<p>خریدهای هیجانی</p>
<hr>

</div>




<script>
    document.addEventListener('DOMContentLoaded',
        function () {
            IndexFunction({{ data.Total }},{{ data.Hamvazn }}, {{ data.Fifty }}, {{ data.Fara }} );
    });
</script>

{% endblock %}